.featured-products {
  background-image: linear-gradient(to right, coral, thistle);
  display: flex;
  flex-direction: column;
}
.products-grid {
  display: flex;  
  gap: 5vw;
  place-items: center;
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 30vw;
    padding: 50px;
    text-align: center;
    /* background-color: blue; */
}