.hero {
    flex-direction: row;
    background-image: linear-gradient(to right, #3498db, steelblue);
    /* background-color: #3498db; */
    /* min-height: 20vh; */
    padding: 0;
    gap:0;
  }
  .hero-image {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    color: #fff;
    margin: 5vw;
    width: 50vw;
    height: 40vh;
  }