.latest-articles{
    background-image: linear-gradient(to right, lightgreen, darkgreen);
}
.articles-grid{
    display: flex;
    gap: 5vw;
    place-items: center;
    width: 80%;
}
.article-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    padding: 1rem;
    /* border: 1px solid white; */
    /* width: 30vw; */
    /* padding: 50px; */
    text-align: center;
}
.article-card img{max-width: 70%;}