.recommended-products {
  background-image: linear-gradient(to right, coral, thistle);
  display: flex;
  flex-direction: column;
}
.products-grid {
  display: flex;  
  gap: 5vw;
  place-items: center;
  /* width: 80%; */
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* border: 1px solid white; */
    /* width: 30vw; */
    /* padding: 50px; */
    text-align: center;
    /* background-color: blue; */
}
.product-card button{
    max-width: 70%;
}
.product-card img{
width: 30vw;
}
.swiper-button-next , .swiper-button-prev{color: white !important;}
.swiper-pagination-bullet{background-color: white !important;}