.testimonials {
  background-image: linear-gradient(to right, purple, pink);
}

.testimonials-list {
  display: flex;
  gap: 5vw;
  width: 80%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3vh;
  border: 1px solid white;
  border-radius: 8px;
  padding: 1rem;
  /* width: 30vw; */
  /* padding: 50px; */
}
